<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPDaQ3U5IOu8ADfW5fN3Eec-rOspmS6Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>54182601069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tudds</string>
	<key>PROJECT_ID</key>
	<string>tuddz-tsur4m</string>
	<key>STORAGE_BUCKET</key>
	<string>tuddz-tsur4m.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54182601069:ios:9deec7c11cecdfc6cd3a64</string>
	<key>DATABASE_URL</key>
	<string>https://tuddz-tsur4m-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>